@model WebApplication.Models.Customer

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script src="https://code.jquery.com/jquery-3.6.0.js"></script>*@
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>


<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">新增客戶</h3>
                </div>
                @using (Html.BeginForm("Create", "Customer", FormMethod.Post, new { id = "frmCustomer", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <form role="form">
                        <div class="box-body">

                            <div class="form-group">
                                @Html.LabelFor(model => model.CompanyName, new { @class = "control-label", @style = "color:black" })

                                @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control", style = "width:Auto" } })
                                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })

                            </div>

                        </div>

                        <div class="box-footer">
                            <input type="submit" value="新增" id="CreateValid" class="btn btn-primary" />
                            @Html.ActionLink("Back to List", "Index")
                        </div>

                    </form>
                }
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">

    var postUrl = '@Url.Action("Create", "Customer")';

    $(function () {
        $('#CreateValid').click(function (e) {
            e.preventDefault();
            CreateItem();
        });
    });

    function CreateItem() {
        var question = "確認新增匯入該項?";
        ConfirmCreate(question).then(function (answer) {
            var ans = (String(answer) === "true");
            if (ans) {
                var data = $('#frmCustomer').serialize();
                $.ajax({
                    type: "POST",
                    url: postUrl,
                    data: data,
                    success: function (response) {
                        if (response.ReturnStatus == "error") {
                            AlertCreate(response.ReturnData);
                        } else {
                            window.location.href = "index";
                        }
                    }
                });
            }
        });
    }

    function ConfirmCreate(question) {
        var defer = $.Deferred();
        $('<div id="id="divCreateClientRequest""></div>')
            .html(question)
            .dialog({
                autoOpen: true,
                modal: true,
                draggable: true,
                title: 'Confirm Create',
                buttons: {
                    "Yes": function () {
                        defer.resolve("true");
                        $(this).dialog("close");
                    },
                    "No": function () {
                        defer.resolve("false");
                        $(this).dialog("close");
                    }
                },
                close: function () {
                    $(this).dialog('destroy').remove();
                }
            });

        return defer.promise();
    }

    function AlertCreate(question) {
        var defer = $.Deferred();
        $('<div style="color: red" id="id="divCreateErrorClientRequest""></div>')
            .html(question)
            .dialog({
                autoOpen: true,
                modal: true,
                draggable: true,
                title: 'Error',
                buttons: {
                    "OK": function () {
                        defer.resolve("true");
                        $(this).dialog("close");
                    }
                },
                close: function () {
                    $(this).dialog('destroy').remove();
                }
            });

        return defer.promise();
    }

</script>
